.gridContainer {
    max-width: 1285px;
    padding: 0 115px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.flexContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .gridContainer {
        padding: 0 27px;
    }
}