{% load static %}
{% load get_global_counter %}
{% load update_variable %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="{{ meta.description_search }}"/>
  <meta name="keywords" content="{{ meta.keywords }}"/>
  <meta name="format-detection" content="{{ meta.format_detection }}"/>

  <title>Бильярдный клуб & бар Leon - меню</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <link href="{% static '/styles/reset.css' %}" rel="stylesheet">
  <link href="{% static '/styles/grid.css' %}" rel="stylesheet">
  <link href="{% static '/styles/common.css' %}" rel="stylesheet">

  <link href="{% static '/styles/header.css' %}" rel="stylesheet">

  <link href="{% static '/styles/menu.css' %}" rel="stylesheet">
</head>
<body>

{% include 'navbar.html' %}

<section class="menu">
  <div class="gridContainer">
    <h1 class="commonTitle menuTitle">{{ menu.title }}</h1>

    {% with items=0 %}
      {% for menu in submenu %}
        <div class="groupMenu">
          <h4 class="commonTitle groupTitle">{{ menu.title }}</h4>
          <div class="flexMenu">
            {% for image in menu.images.all %}
              <div class="menuItem" data-id="{% get_global_counter inner=forloop.counter0 outer=forloop.parentloop.counter im_cou=menu.images.count items=items %}">
                <img src="{{ image.image.url }}" alt="photo {{ forloop.counter }}">
              </div>
              {% if foorloop.last %}
                {% update_variable items|add:foorloop.counter as items %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endwith %}

    <div class="popupGallery">
      <div class="closePopupGallery"></div>
      <div class="splide gallerySplidePopup">
        <div class="splide__track">
          <ul class="splide__list">
            {% for menu in submenu %}
              {% for image in menu.images.all %}
                <li class="splide__slide">
                  <img src="{{ image.image.url }}" alt="photo {{ forloop.counter }}" class="popupGalleryItem">
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}

<link href="{% static '/js/slider/css/splide.min.css' %}" rel="stylesheet">
<script src="{% static '/js/slider/js/splide.min.js' %}"></script>
<link href="{% static '/styles/customStylesSlider.css' %}" rel="stylesheet">
<script src="{% static '/js/menu.js' %}"></script>
<script src="{% static '/js/mobileMenu.js' %}"></script>
<link href="{% static '/styles/popupGallery.css' %}" rel="stylesheet">
<link href="{% static '/styles/footer.css' %}" rel="stylesheet">
</body>
</html>
